@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #E9E8EB;

    padding: 2ch;

    width: 80ch;
}

header {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #030303;
}

h1 {
    color: #030303;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    color: #030303;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 16px;
}
